@font-face {
  font-family: 'Estedad-medium';
  src:
          url('../fonts/Estedad-Medium.ttf') format('truetype'),
          url('../fonts/Estedad-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Estedad-Bold';
  src:
          url('../fonts/Estedad-Bold.ttf') format('truetype'),
          url('../fonts/Estedad-Bold.woff') format('woff');
}
body{
  font-family: 'Estedad-medium';
}
.fontfa{
  font-family: 'Estedad-medium';
}
.rtl{
  direction: rtl;
}